---
// Eyelid Lift (Blepharoplasty) in Houston, Texas
// Ported from: blepharoplasty-surgery-houston.php
export const prerender = true;

import Base from "../layouts/Base.astro";
import CategoryGrid from "../components/CategoryGrid.astro";
import { CATEGORIES_TOP } from "../lib/categories";
---

<Base
  title="Eyelid Lift (Blepharoplasty) in Houston, Texas | The Oaks Plastic Surgery"
  description="Eyelid Lift (Blepharoplasty) in Houston, Texas at The Oaks Plastic Surgery. Board-certified plastic surgeons offering personalized care."
  headerTitle="Eyelid Lift (Blepharoplasty) in Houston, Texas"
  headerImage="/img/blepharoplasty-hero.jpg"
  headerMarginBottom={60}
  canonical="https://theoaksplasticsurgery.com/blepharoplasty-surgery-houston"
>
<section class="mb-0">
                <div class="container w-new100">
                    <div class="row text-row">
                        <div class="col-lg-12 offset-lg-0 plr-60">
                            <div class="plash-size">
                                
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></button>
                                        <strong>Success!</strong> The Oaks Plastic Surgery team will reach out to you shortly!
                                    </div>
                                
                                    
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                        aria-hidden="true">&times;</span></button>
                                            <strong>Error!</strong> Empty or Invalid reCaptcha
                                        </div>
                                    
                                
                                <div id="formCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                                    <form class="carousel-inner" method="post" name="consult">
                                        <div class="carousel-item active">
                                            <div class="plash-size-title">Do you have excess upper eyelid skin?</div>
                                            <div class="plash-size-error"></div>
                                            <div class="plash-size-elements elements-grid two-columns">
                                                <label>
                                                    <input type="radio" value="Yes" name="consult[option_one][]" />
                                                    <span class="text">Yes</span>
                                                </label>
                                                <label>
                                                    <input type="radio" value="No" name="consult[option_one][]" />
                                                    <span class="text">No</span>
                                                </label>
                                                <input type="text" hidden value="Cup Size Wanted"
                                                       name="consult[option_one_title]" />
                                            </div>
                                            <div class="plash-size-click">
                                                <a href="#" class="blue-click" onclick="validateSlideOne(event,0)">Continue</a>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="plash-size-title">Does your lower eyelid skin have one of the following?</div>
                                            <div class="plash-size-error"></div>
                                            <div class="plash-size-elements elements-grid four-columns">
                                                <label>
                                                    <input type="radio" value="Hollowness" name="consult[option_two][]" />
                                                    <span class="text">Hollowness</span>
                                                </label>
                                                <label>
                                                    <input type="radio" value="Bags" name="consult[option_two][]" />
                                                    <span class="text">Bags</span>
                                                </label>
                                                <label>
                                                    <input type="radio" value="Neither" name="consult[option_two][]" />
                                                    <span class="text">Neither</span>
                                                </label>
                                                <label>
                                                    <input type="radio" value="Both" name="consult[option_two][]" />
                                                    <span class="text">Both</span>
                                                </label>
                                                <input type="text" hidden value="Current Cup Size"
                                                       name="consult[option_two_title]" />
                                            </div>
                                            <div class="plash-size-click">
                                                <a href="#" class="blue-click" onclick="validateSlideTwo(event,1)">Continue</a>
                                                <a href="#" class="blue-click" data-target="#formCarousel" data-slide-to="0">Previous</a>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="plash-size-title">Select a Surgeon</div>
                                            <div class="plash-size-error"></div>
                                            <div class="plash-size-elements elements-grid four-columns">
                                                <label>
                                                    <input type="radio" value="Dr. Danielle Andry" name="consult[doctor]" />
                                                    <span class="text">Dr. Danielle Andry</span>
                                                </label>
                                                <label>
                                                    <input type="radio" value="Dr. Nandi Wijay, MD" name="consult[doctor]" />
                                                    <span class="text">Dr. Nandi Wijay, MD</span>
                                                </label>
                                                <label>
                                                    <input type="radio" value="No Preference" name="consult[doctor]" />
                                                    <span class="text">No Preference</span>
                                                </label>
                                            </div>
                                            <div class="plash-size-click">
                                                <a href="#" class="blue-click" onclick="validateSlideDoctor(event,2)">Continue</a>
                                                <a href="#" class="blue-click" data-target="#formCarousel" data-slide-to="1">Previous</a>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="plash-size-title">Book a consult.</div>
                                            <div class="plash-size-error"></div>
                                            <div class="plash-size-elements">
                                                <input type="text" name="consult[name]" class="input" placeholder="Enter Name" />
                                                <input type="email" name="consult[email]" class="input"
                                                       placeholder="Enter Email" />
                                                <input type="tel" name="consult[phone]" class="input" placeholder="Enter Phone" />
                                                <p>By clicking BOOK NOW, you agree to our <a href="/policy/hipaa" target="_blank">HIPAA Policy</a></p>
                                            </div>
                                            <div class="plash-size-click">
                                                <a href="#" class="blue-click submit" onclick="validateSlideThree(event,3);">Book
                                                    Now</a>
                                                <a href="#" class="blue-click" data-target="#formCarousel" data-slide-to="2">Previous</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="mt-60 mb-50">
                <div class="container w-new100">
                    <div class="row text-row">
                        <div class="col-lg-12 offset-lg-0">
                            <div class="plash-tags-elements">
                                <a href="#" class="plash-tags-el">Eyelid lift PROCEDURE</a>
                                <a href="#" class="plash-tags-el">Why Consider it</a>
                                <a href="#" class="plash-tags-el">Asian eye lids</a>
                                <a href="#" class="plash-tags-el">RESULTS</a>
                                <a href="#" class="plash-tags-el">VIDEO GALLERY</a>
                                <a href="#" class="plash-tags-el">CONSULTATION: WHAT TO EXPECT</a>
                                <a href="#" class="plash-tags-el">DAY OF: WHAT TO EXPECT</a>
                                <a href="#" class="plash-tags-el">RECOVERY: WHAT TO EXPECT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            

            
<!--            <section class="home-about" id="section-video">
                <div class="container">
                    <div class="row">
                        <div class="offset-sm-1 col-sm-10 offset-lg-0 col-lg-12">
                            <h2 class="text-center text-h-mort wow fadeIn pb-4 pt-lg-4" style="font-size: 36px">Videos</h2>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    
                </div>
            </section>-->
            

            <section class="mt-60 mb-0" id="section-breast-aug">
                <div class="container-fluid">
                    <div class="row text-row">
                        <div class="col-lg-10 offset-lg-1 no-padding">
                            <div class="plash-breast" style="background-image: url(/img/eye.jpg);">
                                <div class="breast-title">What is an Eyelid Lift?</div>
                                <div class="breast-text">
                                    <p>An eyelid lift is a surgical technique to improve the periorbital area. These are categorized into upper eyelid surgery and lower eyelid surgery. Upper eyelid surgery addresses the excess, droopy upper eyelid skin. It can also be used to remove or replace the fatty tissues of the upper eyelid to create a more youthful look. Lower eyelid surgery addresses the excess or droopy skin under the eyelid, under eye bags, or under-eye hollowing. These surgeries can be performed either under local anesthesia in the office or under general anesthesia or partial anesthesia in the operating room.</p>
                                </div>
                                <div class="breast-clickbox">
                                    <a class="breast-click" href="/contact-us">book a consult</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section>
                <div class="container-fluid">
                    
                </div>
            </section>

            <section>
                <div class="container-fluid">
                    
                </div>
            </section >


            <section class="collapse-category">
                <div class="container-fluid book-free-consultation with-bg">
                    <div class="row">
                        <div class="col-xl-9 mx-auto">
                            <h2>Book A Consultation</h2>
                            <p>
                                The Oaks Plastic Surgery was founded by Dr. Danielle Andry and Dr. Nandi Wijay, all of whom trained and now practice in Houston, Texas. Each plastic surgeon at The Oaks Plastic Surgery is committed to bringing their patients top of the line care with a focus on safety, patient comfort, and meticulous attention to detail. The Oaks Plastic Surgery wants to help you look and feel like the best you!
                            </p>
                            <div class="book-consultation-form">
                                
                                <a href="/contact-us" class="d-inline-block d-lg-none btn btn-primary">Book Consult</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>


            <section class="pb-240">
                <div class="container-fluid">
                    
                </div>
            </section>


            <section class="cta-service" id="section-consultation-expect">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 no-padding service-right-cta">
                            <div data-jarallax-element="-100">
                                <h2 class="text-h-mort">What you can expect at your initial consultation with The Oaks Plastic Surgery in Houston, Texas?</h2>
                                <span>If you are interested in eyelid surgery or blepharoplasty in Houston, Texas, an appointment can be made with either Dr. Danielle Andryand Dr. Nandi Wijay. You can expect your initial consultation to last an hour or more. In your consultation, your TOPS plastic surgeon will:</span>
                                <div class="performed-clickbox">
                                    <a class="breast-click" href="/contact-us">book a consult</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 no-padding service-left-cta">
                            <ul>
                                <li>Listen to your specific complaints and goals</li>
                                <li>Perform a thorough examination, focusing on your individual anatomy.</li>
                                <li>Careful measurements and photographs will be taken.</li>
                                <li>If surgery is the right option for you, your TOPS plastic surgeon will discuss details of the surgical procedures that are offered and which approach is right for you</li>
                                <li>The risks and benefits of eyelid surgery (blepharoplasty) will be thoroughly outlined</li>
                                <li>You will be given ample opportunity to ask questions from both our TOPS plastic surgeons and cosmetic surgery staff regarding eyelid surgery</li>
                                <li>You will be sent home with a packet of information regarding the procedure including a detailed consent form and instructions for before and after eyelid surgery</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>


            <section class="text-section text-bg-grey mb-0">
                <div class="container">
                    <div class="row text-row">
                        <div class="col-lg-6 " id="section-day-of-expect">
                            <div class="text-section-block">
                                <h3>What can you expect on the day of your Eyelid Lift?</h3>
                                <p>The day of your surgery, your TOPS plastic surgeon will meet you in the preoperative area to go over any last minute questions or concerns you may have. They may make some preoperative markings and will perform extensive checks with attention to detail ensuring high quality care and safety. If you are undergoing general anesthesia, you will meet the anesthesiologist and their team as well as the members of our plastic surgery operative team.</p>
                                <p>During the eyelid lift procedure, our plastic surgeons pay meticulous attention to detail and work as a team to ensure a great result with a focus on safety and quality. Your family will be updated of your status periodically and will be able to talk with the plastic surgeon one-on-one after the eyelid lift is completed. Upper eyelid lift typically takes 1-2 hours to complete and lower eyelid lift typically takes 1.5 -2.5 hours to complete.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 " id="section-recovery-expect">
                            <div class="text-section-block">
                                <h3>What can you expect for recovery after your Eyelid Lift?</h3>
                                <p>After your Eyelid Lift surgery, you will be given a cold compress for your eyes that you should use on and off over the first 24 hrs. You may have some lubricant in your eyes that may cause your vision to be slightly blurred. You will be given saline eye drops to help keep your eyes moist. If you have any difficulty closing your eyes in the initial postoperative period your plastic surgeon may prescribe lubricating ointment or advise taping or other measures to keep your eyes moisturized. Pain is typically modest and most patients do not require any narcotic pain medication after the procedure. Swelling and bruising is normal during the postoperative period.</p>
                                <p>Our TOPS plastic surgeons and staff in Houston will see you or communicate with you daily to ensure proper healing. Most of the swelling after an Eyelid Lift begins to subside over the first week or two and typically resolves by 4-6 weeks. The TOPS plastic surgeons advise that you refrain from strenuous activity or heavy lifting for 4-6 weeks during the healing process.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="call-shedule">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            Call To Schedule A Consultation Today
                            <!--                            <a href="tel:--><!--">--><!--</a>-->
                            <span></span>
                        </div>
                    </div>
                </div>
            </section>


            <section class="pb-240">
                <div class="container-fluid">

                    <div class="row" style="max-width: 1300px;margin: auto;">
                        
                
                    </div>
            </section>


            <!-- <section class="pb-240">
                <div class="container-fluid">
                    
                </div>
            </section> -->
            <section>
                <div class="container-fluid">
                    <div class="row">
                        
                    </div>
                </div>
            </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <CategoryGrid categories={CATEGORIES_TOP} />
      </div>
    </div>
  </section>
</Base>
