---
// Breast Lift Or Breast Reduction
// Ported from: breast-lift-or-breast-reduction.php
export const prerender = true;

import Base from "../layouts/Base.astro";
---

<Base
  title="Breast Lift Or Breast Reduction | The Oaks Plastic Surgery"
  description="Breast Lift Or Breast Reduction in Houston, TX at The Oaks Plastic Surgery. Board-certified plastic surgeons offering personalized care."
  headerTitle="Breast Lift Or Breast Reduction"
  headerImage="/img/header-service.png"
  headerMarginBottom={60}
  canonical="https://theoaksplasticsurgery.com/breast-lift-or-breast-reduction"
>
<div data-jarallax-element="-120" class="text-section-box"></div>
    
    <section class="iframe-form">
        <div class="container">
            <iframe scrolling="no" src="https://docs.google.com/forms/d/e/1FAIpQLSdLNY7LuFZek-VSGJ6TQye9OKjkYmA1GxX4wQxKkZVU5jxFSA/viewform?embedded=true" width="100%" height="2738" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </section>
</Base>
