---
// Chin Augmentation in Houston, Texas
// Ported from: chin-augmentation-houston.php
export const prerender = true;

import Base from "../layouts/Base.astro";
import CategoryGrid from "../components/CategoryGrid.astro";
import { CATEGORIES_TOP } from "../lib/categories";
---

<Base
  title="Chin Augmentation in Houston, Texas | The Oaks Plastic Surgery"
  description="Chin Augmentation in Houston, Texas at The Oaks Plastic Surgery. Board-certified plastic surgeons offering personalized care."
  headerTitle="Chin Augmentation in Houston, Texas"
  headerImage="/img/neck-lift-hero.jpg"
  headerMarginBottom={60}
  canonical="https://theoaksplasticsurgery.com/chin-augmentation-houston"
>
<section class="mb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <p class="wow fadeInUp lead text-center">
                                Chin augmentation can help balance the face and create a stronger more attractive appearance.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="mb-0 pb-240">
                <div class="container-fluid">
                    
                </div>
            </section>
            <section class="text-section pb-240">
                <div data-jarallax-element="-150" class="text-section-box"></div>
                <div class="container">
                    <div class="row text-row">
                        <div class="col-lg-6">
                            <div class="text-section-block">
                                <h3>Why you want a chin augmentation in Houston, Texas?</h3>
                                <p>
                                    Chin augmentation helps balance the face when the chin is weak or out of proportion to the other facial features.  Chin augmentation is often performed with a rhinoplasty and often makes the nose appear less prominent.
                                </p>
                            </div>
                            <div class="text-section-block">
                                <h3>"I think I may want chin augmentation, but am not ready to commit to a surgery"</h3>
                                <p>
                                    Non-surgical chin augmentation can be performed with <a href="/fillers-houston">filler</a>.  This allows for a temporary improvement of your chin projection that can be performed in the office with no sedation and little pain.  Depending on the filler used, this typically lasts 6 months to 2 years.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 pt-lg-5">
                            <div class="text-section-block">
                                <h3>What can I expect from a chin augmentation?</h3>
                                <p class="align-content-end">
                                    A better balanced profile with improved projection of the lower face making the nose and forehead less prominent in appearance.
                                </p>
                            </div>
                            <div class="text-section-block">
                                <h3>What can you expect at your initial consultation for chin augmentation at The Oaks Plastic Surgery in Houston, Texas?</h3>
                                <p class="align-content-end">
                                    If you are interested in chin augmentation in Houston, Texas, an appointment can be made with one of our three plastic surgeons at The Oaks Plastic Surgery.  You can expect the initial consultation to last an hour or more. In your consultation, <a href='/danielle-andry-houston'>Dr. Danielle Andry</a> and <a href='/nandi-wijay-houston'>Dr. Nandi Wijay</a> will:
                                </p>
                                <p>
                                <ul>
                                    <li>Listen to your specific complaints and goals </li>
                                    <li>Perform a thorough examination, focusing on your individual anatomy.  Precise measurements and photographs will be taken. </li>
                                    <li>If chin augmentation is the right option for you, your TOPS plastic surgeon will discuss details of the surgical or non-surgical procedures that will help balance your profile and give you the optimum result</li>
                                    <li>The risks and benefits of chin augmentation will be thoroughly outlined for you </li>
                                    <li>You will be given ample opportunity to ask questions from both our TOPS plastic surgeons and cosmetic surgery staff regarding chin augmentation </li>
                                    <li>You will be sent home with a packet of information regarding the chin augmentation including a detailed consent form and instructions for before and after chin augmentation </li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pb-240">
                <div class="container-fluid">
                    
                </div>
            </section >
            <section class="pb-240">
                <div class="container-fluid">
                    
                </div>
            </section>
            <!-- <section class="pb-240">
                <div class="container-fluid">
                    
                </div>
            </section> -->
            <section>
                <div class="container-fluid">
                    <div class="row">
                        
                    </div>
                </div>
            </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <CategoryGrid categories={CATEGORIES_TOP} />
      </div>
    </div>
  </section>
</Base>
