---
// Coming Soon
// Ported from: coming-soon.php
export const prerender = true;

import Base from "../layouts/Base.astro";
---

<Base
  title="Coming Soon | The Oaks Plastic Surgery"
  description="Coming Soon in Houston, TX at The Oaks Plastic Surgery. Board-certified plastic surgeons offering personalized care."
  headerTitle="Coming Soon"
  headerImage="/img/facelift-hero.jpg"
  headerMarginBottom={60}
  canonical="https://theoaksplasticsurgery.com/coming-soon"
>
<section class="mb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <p class="wow fadeInUp lead text-center">
                                This page is unavailable at this moment. Please contact our staff to get information about the procedures listed below.
                            </p>
                        </div>
                    </div>
                    <div class="row text-row">
                        <div class="col-lg-4">
                            <ul>
                                <li>Necklift</li>
                                <li>Brow Lift</li>
                                <li>Ear Pinning (Ototplasty)</li>
                                <li>Chin Augmentation</li>
                                <li>Cheek Augmentataion</li>
                                <li>Nose Job (Rhinoplasty)</li>
                                <li>Fat Grafting/Fat Transfer /Nanofat</li>
                                <li>Buccal Fat Removal</li>
                                <li>Hair Transplant</li>
                                <li>Lip Lift</li>
                                <li>Male Breast Reduction</li>
                                <li>Breast Reconstruction</li>
                                <li>Inverted Nipple</li>
                                <li>Nipple Reduction</li>
                                <li>Breast Implant Removal</li>
                                <li>Corrective Breast surgery/ Revision Breast Augmentation/ Capsular contract</li>
                                <li>Mini Tummy Tuck (Mini Abdominoplasty)</li>

                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul>

                                <li>Tummy Tuck</li>
                                <li>Labiaplasty/ Labia Reduction</li>
                                <li>Vaginoplasty</li>
                                <li>Liposuction (Ab Etching/Pec Etching)</li>
                                <li>Arm Lift (Brachioplasty)</li>
                                <li>Back Lift</li>
                                <li>Thigh Lift (thighplasty)</li>
                                <li>Lower Body Lift</li>
                                <li>Chemical Peel</li>
                                <li>Vampire Facial</li>
                                <li>Microneedling</li>
                                <li>Microdermabrasion</li>
                                <li>Kybella</li>
                                <li>Skin Care</li>
                                <li>Breast Reconstruction</li>
                                <li>Reconstruction of Lumpectomy Defects</li>
                                <li>Breast Reduction</li>
                                <li>Surgical Migraine Treatment</li>
                                <li>Carpal Tunnel Surgery</li>

                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul>

                                <li>Cubital Tunnel Surgery</li>
                                <li>Trigger Finger Release</li>
                                <li>Dupuytren’s Disease</li>
                                <li>Facial Cancer Reconstruction</li>
                                <li>Mass Excision</li>
                                <li>Massive Weight Loss</li>
                                <li>Scar Revision</li>
                                <li>Plastic Surgery Closure for C-Section</li>
                                <li>Male Breast Reduction (Gynecomastia)</li>
                                <li>Pec Implants</li>
                                <li>Male Facelift</li>
                                <li>Male Tummy Tuck</li>
                                <li>Rhinoplasty</li>
                                <li>Daddy Do-Over</li>
                                <li>Anti-Aging Makeover or Grand-Mommy Makeover</li>
                                <li>Massive Weight Loss</li>
                                <li>Glow Up/ Curvy Look</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </section>
</Base>
