---
// Ear Pinning (Otoplasty) in Houston, Texas
// Ported from: ear-pinning-houston.php
export const prerender = true;

import Base from "../layouts/Base.astro";
import CategoryGrid from "../components/CategoryGrid.astro";
import { CATEGORIES_TOP } from "../lib/categories";
---

<Base
  title="Ear Pinning (Otoplasty) in Houston, Texas | The Oaks Plastic Surgery"
  description="Ear Pinning (Otoplasty) in Houston, Texas at The Oaks Plastic Surgery. Board-certified plastic surgeons offering personalized care."
  headerTitle="Ear Pinning (Otoplasty) in Houston, Texas"
  headerImage="/img/ear-pining-hero.jpg"
  headerMarginBottom={60}
  canonical="https://theoaksplasticsurgery.com/ear-pinning-houston"
>
<section class="mb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <p class="wow fadeInUp lead text-center">
                                Ear Pinning corrects prominent ears that stick out excessively.  This can be a life-changing procedure for children or adults who are teased or self-conscious about their ears.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="mb-0 pb-240">
                <div class="container-fluid">
                    
                </div>
            </section>
            <section class="text-section pb-240">
                <div data-jarallax-element="-150" class="text-section-box"></div>
                <div class="container">
                    <div class="row text-row">
                        <div class="col-lg-6">
                            <div class="text-section-block">
                                <h3>Why do you want a Ear Pinning or Otoplasty surgery? </h3>
                                <p>
                                    Prominent ears are a common problem that affect many children and adults.  Unfortunately, unless treated within the first few weeks of life, this condition cannot be treated properly without surgery.  If you or your child experience self-consciousness, embarrassment or teasing about large or prominent ears, otoplasty can truly be a life-changing operation.  This procedure leaves well-hidden scars, and will make ears appear less noticeable and more proportional.
                                </p>
                            </div>
                            <div class="text-section-block">
                                <h3>What do you want from a Ear Pinning? </h3>
                                <p>
                                    A procedure that minimizes the size and protrusion of your ears without making them look overlying pinned back, which is a tell-tale sign of surgery.  Our plastic surgeons pay meticulous attention to detail in order to obtain a natural-looking result.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 pt-lg-5">
                            <div class="text-section-block">
                                <h3>What can you expect at your initial consultation? </h3>
                                <p class="align-content-end">
                                    If you are interested in ear pinning surgery or otoplasty in Houston, Texas, an appointment can be made with either <a href='/danielle-andry-houston'>Dr. Danielle Andry</a> and <a href='/nandi-wijay-houston'>Dr. Nandi Wijay</a>. You can expect the initial consultation to last an hour or more. In your consultation, your TOPS Plastic Surgeon will:
                                </p>
                                <p>
                                <ul>
                                    <li>Listen to you and/or your child’s specific complaints and goals </li>
                                    <li>Perform a thorough examination, focusing on you or your child’s individual anatomy.  Careful measurements and photographs will be taken.</li>
                                    <li>If surgery is the right option for you or your child, our TOPS plastic surgeon will discuss details of the surgical procedures for correction of prominent ears that are offered and which approach is right for you or your child </li>
                                    <li>The risks and benefits of ear pinning surgery (otoplasty) will be thoroughly outlined for you and/or your child </li>
                                    <li>You will be given ample opportunity to ask questions from both our TOPS plastic surgeons and plastic surgery staff regarding ear pinning surgery (otoplasty) in Houston, Texas</li>
                                    <li>You will be sent home with a packet of information regarding the ear pinning (otoplasty) including a detailed consent form and instructions for before and after ear pinning surgery</li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pb-240">
                <div class="container-fluid">
                    
                </div>
            </section >
            <section class="pb-240">
                <div class="container-fluid">
                    
                </div>
            </section>
            <!-- <section class="pb-240">
                <div class="container-fluid">
                    
                </div>
            </section> -->
            <section>
                <div class="container-fluid">
                    <div class="row">
                        
                    </div>
                </div>
            </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <CategoryGrid categories={CATEGORIES_TOP} />
      </div>
    </div>
  </section>
</Base>
