---
// Newtox Jeuveau, Botox and Dysport in Houston, Texas
// Ported from: houston-botox.php
export const prerender = true;

import Base from "../layouts/Base.astro";
import CategoryGrid from "../components/CategoryGrid.astro";
import { CATEGORIES_TOP } from "../lib/categories";
---

<Base
  title="Newtox Jeuveau, Botox and Dysport in Houston, Texas | The Oaks Plastic Surgery"
  description="Newtox Jeuveau, Botox and Dysport in Houston, Texas at The Oaks Plastic Surgery. Board-certified plastic surgeons offering personalized care."
  headerTitle="Newtox Jeuveau, Botox and Dysport in Houston, Texas"
  headerImage="/img/botox.jpg"
  headerMarginBottom={60}
  canonical="https://theoaksplasticsurgery.com/houston-botox"
>
<section class="mb-0">
                <div class="container w-new100">
                    <div class="row text-row">
                        <div class="col-lg-12 offset-lg-0 plr-60">
                            <div class="plash-size">
                                
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></button>
                                        <strong>Success!</strong> The Oaks Plastic Surgery team will reach out to you shortly!
                                    </div>
                                
                                    
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                        aria-hidden="true">&times;</span></button>
                                            <strong>Error!</strong> Empty or Invalid reCaptcha
                                        </div>
                                    
                                
                                <div id="formCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                                    <form class="carousel-inner" method="post" name="consult">
                                        <div class="carousel-item active">
                                            <div class="plash-size-title">Have you heard of Newtox?</div>
                                            <div class="plash-size-error"></div>
                                            <div class="plash-size-elements elements-grid three-columns">
                                                <label>
                                                    <input type="radio" value="Yes" name="consult[option_one][]" />
                                                    <span class="text">Yes</span>
                                                </label>
                                                <label>
                                                    <input type="radio" value="No" name="consult[option_one][]" />
                                                    <span class="text">No</span>
                                                </label>
                                                <input type="text" hidden value="Have you heard of Newtox?"
                                                       name="consult[option_one_title]" />
                                            </div>
                                            <div class="plash-size-click">
                                                <a href="#" class="blue-click" onclick="validateSlideOne(event,0)">Continue</a>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="plash-size-title">Is this your first time for treatment?</div>
                                            <div class="plash-size-error"></div>
                                            <div class="plash-size-elements elements-grid two-columns">
                                                <label>
                                                    <input type="radio" value="Yes" name="consult[option_two][]" />
                                                    <span class="text">Yes</span>
                                                </label>
                                                <label>
                                                    <input type="radio" value="No" name="consult[option_two][]" />
                                                    <span class="text">No</span>
                                                </label>
                                                <input type="text" hidden value="Is this your first time for treatment?"
                                                       name="consult[option_two_title]" />
                                            </div>
                                            <div class="plash-size-click">
                                                <a href="#" class="blue-click" onclick="validateSlideTwo(event,1)">Continue</a>
                                                <a href="#" class="blue-click" data-target="#formCarousel" data-slide-to="0">Previous</a>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="plash-size-title">Select a Surgeon</div>
                                            <div class="plash-size-error"></div>
                                            <div class="plash-size-elements elements-grid four-columns">
                                                <label>
                                                    <input type="radio" value="Dr. Danielle Andry" name="consult[doctor]" />
                                                    <span class="text">Dr. Danielle Andry</span>
                                                </label>
                                                <label>
                                                    <input type="radio" value="Dr. Nandi Wijay, MD" name="consult[doctor]" />
                                                    <span class="text">Dr. Nandi Wijay, MD</span>
                                                </label>
                                                <label>
                                                    <input type="radio" value="No Preference" name="consult[doctor]" />
                                                    <span class="text">No Preference</span>
                                                </label>
                                            </div>
                                            <div class="plash-size-click">
                                                <a href="#" class="blue-click" onclick="validateSlideDoctor(event,2)">Continue</a>
                                                <a href="#" class="blue-click" data-target="#formCarousel" data-slide-to="1">Previous</a>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="plash-size-title">Book a Consultation!</div>
                                            <div class="plash-size-error"></div>
                                            <div class="plash-size-elements">
                                                <input type="text" name="consult[name]" class="input" placeholder="Enter Name" />
                                                <input type="email" name="consult[email]" class="input"
                                                       placeholder="Enter Email" />
                                                <input type="tel" name="consult[phone]" class="input" placeholder="Enter Phone" />
                                                <p>By clicking BOOK NOW, you agree to our <a href="/policy/hipaa" target="_blank">HIPAA Policy</a></p>
                                            </div>
                                            <div class="plash-size-click">
                                                <a href="#" class="blue-click submit" onclick="validateSlideThree(event,3);">Book
                                                    Now</a>
                                                <a href="#" class="blue-click" data-target="#formCarousel" data-slide-to="2">Previous</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="mt-60 mb-50">
                <div class="container w-new100">
                    <div class="row text-row">
                        <div class="col-lg-12 offset-lg-0">
                            <div class="plash-tags-elements">
                                <a href="#" class="plash-tags-el">Why get botox?</a>
                                <a href="#" class="plash-tags-el">Benefits</a>
                                <a href="#" class="plash-tags-el">What is blotox?</a>
                                <a href="#" class="plash-tags-el">RESULTS</a>
                                <a href="#" class="plash-tags-el">VIDEO GALLERY</a>
                                <a href="#" class="plash-tags-el">CONSULTATION: WHAT TO EXPECT</a>
                                <a href="#" class="plash-tags-el">DAY OF: WHAT TO EXPECT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            
            
            <section class="home-about" id="section-video">
                <div class="container">
                    <div class="row">
                        <div class="offset-sm-1 col-sm-10 offset-lg-0 col-lg-12">
                            <h2 class="text-center text-h-mort wow fadeIn pb-4 pt-lg-4" style="font-size: 36px">Videos</h2>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    
                </div>
            </section>


            <section class="mb-0 pb-240">
                <div class="container-fluid">
                    
                </div>
            </section>
            <section>
                <div class="container-fluid">
                    
                </div>
            </section>

            <section>
                <div class="container-fluid">
                    
                </div>
            </section >

            <section>
                <div class="container-fluid">
                    
                </div>
            </section >

            <section class="collapse-category">
                <div class="container-fluid book-free-consultation with-bg">
                    <div class="row">
                        <div class="col-xl-9 mx-auto">
                            <h2>Book A Consultation</h2>
                            <p>The Oaks Plastic Surgery was founded by Dr. Danielle Andry and Dr. Nandi Wijay, all of whom trained and now practice in Houston, Texas. Each plastic surgeon at The Oaks Plastic Surgery is committed to bringing their patients top of the line care with a focus on safety, patient comfort, and meticulous attention to detail. The Oaks Plastic Surgery wants to help you look and feel like the best you!</p>
                            <div class="book-consultation-form">
                                
                                <a href="/contact-us" class="d-inline-block d-lg-none btn btn-primary">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container-fluid">
                    
                </div>
            </section>

            <section class="cta-service" id="section-consultation-expect">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 no-padding service-right-cta">
                            <div data-jarallax-element="-100">
                                <h2 class="text-h-mort">
                                    What can you expect at our consultation for Newtox Jeuveau, Botox or Dysport at The Oaks Plastic Surgery?
                                </h2>
                                <span>
                                    If you are interested in Botox or Dysport treatments in Houston, Texas, an appointment can be made with either Dr. Danielle Andry or Dr. Nandi Wijay . You can expect the initial consultation to last an hour or more. In your consultation, your TOPS plastic surgeon will:
                                </span>
                                <div class="performed-clickbox">
                                    <a class="breast-click" href="/contact-us">book a consult</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 no-padding service-left-cta">
                            <ul data-jarallax-element="-100">
                                <li>Listen to your specific complaints and goals</li>
                                <li>Perform a thorough examination, focusing on your individual anatomy.</li>
                                <li>Discuss whether you are a good candidate for Botox or Dysport treatments, which areas can be treated effectively, and how many units will be required for treatment.</li>
                                <li>The risks and benefits of Botox or Dysport treatments will be thoroughly outlined for you.</li>
                                <li>You will be given ample opportunity to ask questions from both our physicians and staff regarding Botox or Dysport and any other surgical or nonsurgical procedures that may interest you.</li>
                                <li>Photographs will be taken before all treatments.</li>
                                <li>Please be aware that taking any aspirin, ibuprofen, or any other blood thinning products can increase your risk of bruising during these procedures. Please refrain from any of these medications for 7 days prior to treatment if possible.</li>
                                <li>If you are sensitive to needles or have any anxiety with injections, our staff have numerous techniques to decrease pain and discomfort during the procedure.</li>
                                <li>We understand that many of our patients are professionals or moms with very busy schedules. For patients undergoing recurrent Botox or Dysport treatments, our physicians can streamline the process and are willing to work with your schedule to accommodate you in a safe and efficient way.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="pb-240">
                <div class="container-fluid">
                    
                </div>
            </section >

            <section class="pb-240">
                <div class="container-fluid">

                    <div class="row" style="max-width: 1300px;margin: auto;">
                       
                
                    </div>
            </section>

            <!-- <section class="pb-240">
                <div class="container-fluid">
                    
                </div>
            </section> -->
            <section>
                <div class="container-fluid">
                    <div class="row">
                        
                    </div>
                </div>
            </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <CategoryGrid categories={CATEGORIES_TOP} />
      </div>
    </div>
  </section>
</Base>
