---
// Labiaplasty in Houston, Texas
// Ported from: labiaplasty-houston.php
export const prerender = true;

import Base from "../layouts/Base.astro";
import CategoryGrid from "../components/CategoryGrid.astro";
import { CATEGORIES_TOP } from "../lib/categories";
---

<Base
  title="Labiaplasty in Houston, Texas | The Oaks Plastic Surgery"
  description="Labiaplasty in Houston, Texas at The Oaks Plastic Surgery. Board-certified plastic surgeons offering personalized care."
  headerTitle="Labiaplasty in Houston, Texas"
  headerImage="/img/labiaplasty-hero.jpg"
  headerMarginBottom={60}
  canonical="https://theoaksplasticsurgery.com/labiaplasty-houston"
>
<section class="mt-50 mb-5">    
                <div class="container w-new100 text-center">
                    <iframe width="100%" id="contact-video" height="395" src="https://www.youtube-nocookie.com/embed/5xaJI_4NbYk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </section>

            <!-- VIDEO CAROUSEL -->
            <section class="home-about" id="section-video">
                <div class="container">
                    <div class="row">
                        <div class="offset-sm-1 col-sm-10 offset-lg-0 col-lg-12">
                            <h2 class="text-center text-h-mort wow fadeIn pb-4 pt-lg-4" style="font-size: 36px">Videos</h2>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    
                </div>
                <div class="container-fluid text-center d-block d-md-none">                
                    <a class="btn btn-primary btn-main" href="/tops-gallery/body?srv%5B%5D=Labiaplasty%20Reduction">Before & After</a>
                </div>
            </section>

            <section class="mt-60 mb-0">
                <div class="container w-new100">
                    <div class="row text-row">
                        <div class="col-lg-12 offset-lg-0">
                            <div class="plash-tags-elements">
                                <a href="/tops-gallery/body?srv%5B%5D=Labiaplasty%20Reduction" class="plash-tags-el">BEFORE & AFTER</a>
                                <a href="#section-labiaplasty" class="plash-tags-el">Labiaplasty PROCEDURE</a>
                                <a href="#section-is-it-right" class="plash-tags-el">Is it right for you?</a>
                                <a href="#section-video" class="plash-tags-el">VIDEO GALLERY</a>
                                <a href="#expect-consultation" class="plash-tags-el">CONSULTATION: WHAT TO EXPECT</a>
                                <a href="#expect-day-of" class="plash-tags-el">DAY OF: WHAT TO EXPECT</a>
                                <a href="#expect-recovery" class="plash-tags-el">RECOVERY: WHAT TO EXPECT</a>
                                <a href="#section-faq" class="plash-tags-el">FAQs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            

            <section class="faq" id="section-faq">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <h2 class="text-center text-h-mort">Labiaplasty Frequently Asked Questions</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            
                        </div>
                    </div>
                </div>
            </section>

            <!-- MEET THE DOCTORS -->
            <section class="pb-240">
                <div class="container-fluid">
                    <div class="row" style="max-width: 1300px;margin: auto;">
                        <div class="parallax-top col-lg-10 p-1  ml-auto">
                            <img class="img-fluid " src="/img/staff/plastic-surgeons/danielle-andry/danielle-meet-surgeon.jpg" alt="Meet Our Doctors" />
                        </div>
                        <div style="background-color: rgb(247, 248, 249);"
                            class="parallax-card-new txt col-lg-6 text-center text-lg-left">
                            <h2 class="parallax-card-title">Meet our Surgeon</h2>
                            <div class="parallax-card-text">
                                The Oaks Plastic Surgery was founded by Dr. Danielle Andry, who trained and now practices in Houston, 
                                Texas. Dr. Andry specializes in-office labiaplasty. Dr. Andry at The Oaks Plastic Surgery is committed to 
                                bringing their patients top of the line care with a focus on safety, patient comfort, and meticulous 
                                attention to detail. The Oaks Plastic Surgery wants to help you look and feel like the best you!
                            </div>
                            <div class="performed-clickbox grid-clicks">
                                <a class="performed-click btn-primary" href="/drdanielleandry">Dr. Danielle Andry</a>        
                                <span>&nbsp;</span>
                                <div class="performed-social">
                                    Follow Dr. Andry On
                                    <a href="https://www.facebook.com/Dr-Danielle-Andry-650955728614107/" target="_blank"><i class="fab fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/drdanielleandry/" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="mt-60 mb-0" id="section-labiaplasty">
                <div class="container-fluid">
                    <div class="row text-row">
                        <div class="col-lg-10 offset-lg-1 no-padding">
                            <div class="plash-breast" style="background-image: url(/img/amazon-shop/thumbnail-labia.jpg);">
                                <div class="breast-title">Dr. Andry Post-Op Recommended Amazon Products</div>
                                <div class="breast-text">
                                    Dr. Andry has hand selected post-op products for your labiaplasty. 
                                    Click the link below to pick which items work best for your procedure.
                                </div>
                                <div class="breast-clickbox">
                                    <a class="breast-click d-inline-flex align-items-center justify-content-center" href="https://www.amazon.com/shop/drwijay/list/22NVCCMR9UL2N" target="_blank">
                                        <i class="fab h4 fa-amazon pr-2 mb-0"></i>Buy Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- SURGICAL INSTRUCTIONS -->
            <section class="py-5">
                <div class="container-fluid">
                    <h2 class="text-h-mort mb-5 text-center">Surgical Instructions</h2>
                    
                </div>
            </section>

            <!-- BLOG SLIDER -->
            <section class="collapse-category">    
                
            </section>
            
            <section class="mt-60 mb-0" id="section-labiaplasty">
                <div class="container-fluid">
                    <div class="row text-row">
                        <div class="col-lg-10 offset-lg-1 no-padding">
                            <div class="plash-breast" style="background-image: url(/img/butt.jpg);">
                                <div class="breast-title">What is a Labiaplasty?</div>
                                <div class="breast-text">
                                    <p>
                                        Labiaplasty is surgical reduction of the labia minora or inner skin that covers the clitoris
                                        and vaginal opening. This can be performed for both cosmetic and reconstructive reasons. Our 
                                        plastic surgeons at The Oaks Plastic Surgery (TOPS) perform Labiaplasty under local anesthetic 
                                        or general anesthetic depending on the patient’s comfort. During your consultation, your TOPS 
                                        plastic surgeon will discuss your goals as far as the functional improvements and appearance 
                                        you are looking for. From there, your plastic surgeon will determine if you are a candidate 
                                        for what is termed a “wedge resection” Labiaplasty which results in a more natural appearing 
                                        labia minora or a “trim” Labiaplasty, which results in a cleaner, but more dramatic change in 
                                        appearance. Your plastic surgeon will also determine if you require clitoral hood reduction, 
                                        which may improve stimulation during intercourse.
                                    </p>
                                </div>
                                <div class="breast-clickbox">
                                    <a class="breast-click" href="/contact-us">Book A Consult</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="mb-0 pb-240" id="section-is-it-right">
                <div class="container-fluid">
                    
                </div>
            </section>

            <section class="collapse-category">
                <div class="container-fluid book-free-consultation with-bg">
                    <div class="row">
                        <div class="col-xl-9 mx-auto">
                            <h2>Book A Consultation</h2>
                            <p>
                                The Oaks Plastic was founded by Dr. Danielle Andry in Houston, Texas. Dr. Andry is committed to bringing their 
                                patients top of the line labiaplasty care with a focus on safety, patient comfort, and meticulous attention to 
                                detail. The Oaks Plastic Surgery wants to help you look and feel like the best you!
                            </p>
                            <div class="book-consultation-form">
                                
                                <a href="/contact-us" class="d-inline-block d-lg-none btn btn-primary">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="cta-service" id="expect-consultation">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 no-padding service-right-cta">
                            <div data-jarallax-element="-100">
                                <h2 class="text-h-mort">
                                    What can I expect at my initial consultation for Labiaplasty at The Oaks Plastic Surgery in Houston, Texas?
                                </h2>
                                <span>
                                    The team at The Oaks Plastic Surgery understand that Labiaplasty is a very personal and sometimes 
                                    embarrassing topic. We aim to make you feel comfortable during your initial consultation for vaginal 
                                    rejuvenation.
                                </span>
                                <div class="performed-clickbox">
                                    <a class="breast-click" href="/contact-us">book a consult</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 no-padding service-left-cta">
                            <p>
                                <span>
                                    Be prepared for your initial consultation to last 1 hour or more. New patient forms for patients desiring 
                                    Labiaplasty will have very personal questions about sexual satisfaction, urinary continence, and other 
                                    genitourinary symptoms that can be uncomfortable or embarrassing. While you may think many symptoms you 
                                    experience are embarrassing, many women deal with the same issues, and the physicians at The Oaks Plastic 
                                    Surgery are committed to helping you in the best way they can. After having a thorough discussion about 
                                    your concerns and goals, your TOPS plastic surgeon will perform a focused exam, which may require an 
                                    internal vaginal exam as well. Photographs and measurements will be taken for operative planning. After, 
                                    a detailed discussion about surgical or nonsurgical options will be discussed with you to meet your goals.
                                </span>
                            </p>
                            <span>
                                During your consultation, feel free to ask any of our plastic surgeons or cosmetic surgery staff about questions 
                                or concerns you may have.
                            </span>
                        </div>
                    </div>
                </div>
            </section>

            <section class="text-section text-bg-grey mb-0">
                <div class="container">
                    <div class="row text-row">
                        <div class="col-lg-6 " id="expect-day-of">
                            <div class="text-section-block">
                                <h3>What can I expect the day of my Labiaplasty procedure in Houston, Texas?</h3>
                                <p>If Labiaplasty is planned under local anesthesia, you will arrive at The Oaks Plastic Surgery Clinic and be brought into our procedure room. A strong topical anesthetic will be placed to the area to decrease or eliminate any pain you may have during the local anesthetic injection. You will be given a medication to help you relax during the procedure. Your plastic surgeon will then make very precise markings for operative planning. Local anesthetic will then be injected, and the procedure will begin once you are completely numb in the area. The procedure typically takes about 1 hour. Depending on which local anesthetic is injected, the surgical area will remain numb between 8 and 72 hrs. Antibiotic ointment will be placed on the incision lines and you will be sent home with disposable underwear and pads for the first several days. You will also be sent home with an anesthetic spray to help with the discomfort after your Labiaplasty procedure.</p>
                                <p>If Labiaplasty is planned under general anesthesia, your plastic surgeon will meet you in the preoperative care area the day of your Labiaplasty procedure. Extensive preoperative checks will be performed and you will get to meet the anesthesiologist and plastic surgery operative team. The procedure typically takes about 1 hour.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 " id="expect-recovery">
                            <div class="text-section-block">
                                <h3>What can I expect for my recovery from a Labiaplasty?</h3>
                                <p>Recovery from Labiaplasty is very similar to recovery from childbirth or an episiotomy. It is important to keep the area clean to prevent infection or wound healing complications. You will be given an antibiotic ointment to place on the area. You can expect some spotting after the procedure and should wear a liner or pad until this subsides. You can begin taking sitz baths after 36 hours, which may help ease some of the discomfort, but be very careful with the water temperature. Some patients choose to use numbing spray for the first two days to also help with any discomfort. Any pain should be greatly improved after the first week. We ask that you refrain from strenuous exercise for 2 weeks and intercourse for 6 weeks to allow for proper healing. The labia typically heal very well and scarring is almost completely unnoticeable.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="call-shedule">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            Call To Schedule A Consultation Today
                            <a href="tel:"></a>
                        </div>
                    </div>
                </div>
            </section>

            

            <section>
                <div class="container-fluid">
                    <div class="row">
                        
                    </div>
                </div>
            </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <CategoryGrid categories={CATEGORIES_TOP} />
      </div>
    </div>
  </section>
</Base>
