---
// Mass Excision in Houston, Texas
// Ported from: mass-excision-houston.php
export const prerender = true;

import Base from "../layouts/Base.astro";
import CategoryGrid from "../components/CategoryGrid.astro";
import { CATEGORIES_TOP } from "../lib/categories";
---

<Base
  title="Mass Excision in Houston, Texas | The Oaks Plastic Surgery"
  description="Mass Excision in Houston, Texas at The Oaks Plastic Surgery. Board-certified plastic surgeons offering personalized care."
  headerTitle="Mass Excision in Houston, Texas"
  headerImage="/img/tummy-tuck-hero.jpg"
  headerMarginBottom={60}
  canonical="https://theoaksplasticsurgery.com/mass-excision-houston"
>
<section class="mb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <p class="wow fadeInUp lead text-center">
                                Finding an unexpected lump or mass anywhere on your body can be a scary experience. While many areas of unusual tissue growth are benign, they can still cause problems and may need to be removed. The doctors at The Oaks Plastic Surgery in Houston are experts in the most advanced mass excision surgery techniques.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="mb-0">
                <div class="container-fluid">
                    
                </div>
            </section>
            <section class="text-section">
                <div class="container">
                    <div class="row">
                        <h2 class="wow fadeInUp center text-center"> </h2>
                    </div>
                </div>
                <div data-jarallax-element="-150" class="text-section-box"></div>
                <div class="container">
                    <div class="row text-row">
                        <div class="col-lg-6">
                            <div class="text-section-block">
                                <h3>Why do you want a mass excision in Houston?</h3>
                                <p>Generally, a mass excision surgery is done because the soft tissue mass has attached to a muscle or tendon beneath the skin and must be removed before it causes additional medical issues by damaging surrounding blood vessels, nerves, muscle, tendons, or bone. Masses can also cause pain by putting pressure on nerves, joints, and tendons.</p>
                                <p>Whether you want to have a mass excision for aesthetic reasons or because the mass is causing pain or other health problems, <a href="/about">Dr. Danielle Andry and Dr. Nandi Wijay</a> at The Oaks Plastic Surgery in Houston can help.</p>
                            </div>
                            <div class="text-section-block">
                                <h3>What types of mass excision procedures are offered by our Houston plastic surgeons?</h3>
                                <p>
                                    The plastic surgeons at The Oaks Plastic Surgery routinely perform mass excisions of all types in Houston. The most commonly requested mass excision procedures in Houston are:
                                </p>
                                <ul>
                                    <li>excision of abdominal mass</li>
                                    <li>excision of neck mass</li>
                                    <li>breast mass excision</li>
                                    <li>transanal excision of rectal mass</li>
                                    <li>vulvar mass excision </li>
                                    <li>excision of chest wall mass</li>
                                    <li>excision of left and right axillary (underarm) masses</li>
                                    <li>parapharyngeal mass excision</li>
                                    <li>retroperitoneal mass excision</li>
                                    <li>submandibular mass excision</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 pt-lg-5">
                            <div class="text-section-block">                               

                                <div class="text-section-block">
                                    <h3>What can you expect at your initial consultation for mass excision in Houston?</h3>
                                    <p class="align-content-end">
                                        Your initial consultation with your plastic surgeon at The Oaks Plastic Surgery in Houston will last an hour or more. You will have the opportunity to discuss your surgical goals and concerns regarding your Houston mass excision surgery with your physician. During the private appointment, your doctor will:
                                    </p>
                                    <ul>
                                        <li>Gain an understanding of your specific goals for surgery, as well as your medical history.</li>
                                        <li>Perform a thorough examination.</li>
                                        <li>Make recommendations for any surgical or nonsurgical procedures that may help you achieve your goals.</li>
                                        <li>If surgery is the right choice for you, your doctor will discuss details of the available surgical procedures so that you are fully informed about your options.</li>
                                        <li>Preoperative photographs will be taken.</li>
                                        <li>The risks and benefits of all procedures will be fully and completely explained.</li>
                                        <li>You will have time to ask questions about any other surgical or nonsurgical procedures you may be interested in. </li>
                                        <li>You will receive a packet of information detailing your recommended course of treatment, including consent forms and complete instructions for both before and after your Houston mass excision surgery.</li>
                                    </ul>
                                    <p>The goal for your <a href="/contact-us">initial consultation</a> is to provide you with all the information you need to make an informed decision about your mass excision surgery.</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </section>
            <section class="pb-240">
                <div class="container-fluid">
                    
                </div>
            </section >
            <section class="pb-240">
                <div class="container-fluid">
                    
                </div>
            </section>
            <!-- <section class="pb-240">
                <div class="container-fluid">
            
                </div>
            </section> -->
            <section>
                <div class="container-fluid">
                    <div class="row">
                        
                    </div>
                </div>
            </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <CategoryGrid categories={CATEGORIES_TOP} />
      </div>
    </div>
  </section>
</Base>
