---
// Natrelle 3D Breast Visualizer
// Ported from: natrelle-breast-visualizer.php
export const prerender = true;

import Base from "../layouts/Base.astro";
---

<Base
  title="Natrelle 3D Breast Visualizer | The Oaks Plastic Surgery"
  description="Natrelle 3D Breast Visualizer in Houston, TX at The Oaks Plastic Surgery. Board-certified plastic surgeons offering personalized care."
  headerTitle="Natrelle 3D Breast Visualizer"
  headerImage="/img/oaks-location.webp"
  headerMarginBottom={60}
  canonical="https://theoaksplasticsurgery.com/natrelle-breast-visualizer"
>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">


<div id="natrelle-cont">
<section id="natrelle-main-banner">
  <!--<img class="box-50"  src="/img/steps.webp" />-->
  <div class="nat-cris-inline-banner-col-1">
		<img class="nat-cris-inline-banner-img" src="https://s3.us-east-1.amazonaws.com/media_crisalix/banner/banner-img.jpg" alt="Smiling woman on phone using Natrelle app"/>
		<div class="nat-cris-inline-banner-video-wrap">
			<video preload="none" poster="https://s3.us-east-1.amazonaws.com/media_crisalix/banner/natrelle-3D-poster.jpg" loop="loop" muted="muted" autoplay="autoplay" playsinline="playsinline" class="nat-cris-inline-banner-video"></video>
				<source type="video/mp4" src="https://s3.us-east-1.amazonaws.com/media_crisalix/banner/natrelle-3D.mp4"/>
			</video>
		</div>
	</div>
  
</section>

<!-- SIGN UP AND VISUALIZE -->
<div id="sign-up-vis">
    


<div class="natrelle-heading">
  <hr />
 <h2>Sign Up and Visualize</h2>
 <hr />
</div>

<img class="natrelle-mobile-banner" src="/img/natrelle-visualizer-banner-mobile1.jpg" alt="stunning woman wearing black bra" width="100%" />

<div class="nat-cris-inline-banner-cont">
	<div class="nat-cris-inline-banner-col-1">
		<img class="nat-cris-inline-banner-img" src="/img/steps.webp"/>
		<div class="nat-cris-inline-banner-video-wrap">
		</div>
	</div>
	<div class="nat-cris-inline-banner-col-2">
		<h2 class="nat-cris-inline-banner-hl">Visualize your <span class="bold uppercase">NEW LOOK</span> in <span class="bold uppercase">3D NOW</span>!</h2>
		<p class="nat-cris-inline-banner-text">Are you considering a breast augmentation but feel uncertain about the results? Explore different implant options and preview your results with the Natrelle 3D Breast Visualizer.</p>
		<div class="nat-cris-inline-banner-btn-wrap">
			<a class="nat-cris-inline-banner-btn nat-cris-inline-banner-btn--desktop" href="https://natrelle.crisalix.com/users/sign_up/the-oaks-plastic-surgery" target="_blank">Start now</a>
		</div>

	</div>
  <div class="nat-cris-inline-banner-col-3">
		<h2 class="nat-cris-inline-banner-hl">See Your Future <span class="bold uppercase"><br />Self Today.</span></h2>
		
		
		<img class="nat-cris-inline-banner-logo--desktop" src="https://s3.us-east-1.amazonaws.com/media_crisalix/natrelle_banner/light/assets/logo-desktop.svg" alt="Natrelle Breast Visualizer Logo" />
	</div>
</div>
  </div>
  

<!-- MEET YOUR DOCTORS --> 
<div class="natrelle-heading">
  <hr />
 <h2 class="meet-title">Meet Your Doctors</h2>
 <hr />
</div>
 <p class="meet-desc">During your appointment, you'll explore lifelike 3D simulations, get all your questions answered, and make your decision with total confidence.</p>

<!-- Meet Dr. Andry -->

 <div class="meet-doctor"> 

<div class="nat-cris-inline-banner-cont">

	<div class="nat-cris-inline-banner-col-2">
    <h2>Dr. Danielle Andry</h2>
    <h3>Board-Certified Plastic Surgeon</h3>
		<p class="nat-cris-inline-banner-text">Dr. Andry’s commitment to excellence can be seen in her attention to detail, care for her patients, and surgical results. She wants every patient experience to be exceptional and goes the extra mile to ensure her patients have the best possible results.</p>
	</div>
	<div class="nat-cris-inline-banner-col-1">
		<img class="nat-cris-inline-banner-img" src="https://theoaksplasticsurgery.com/img/dani-transparent.png" alt="Dr Danielle Andry Portrait Shot"/>
		
	</div>
  <div class="nat-cris-inline-banner-col-3 doc-cta-1">
		<h2 class="nat-cris-inline-banner-hl">Step Into the <span class="bold uppercase"><br />Future of Breast Augmentation.</span></h2>
		
		<div class="nat-cris-inline-banner-btn-wrap">
			<a class="nat-cris-inline-banner-btn nat-cris-inline-banner-btn--desktop" href="https://natrelle.crisalix.com/users/sign_up/the-oaks-plastic-surgery" target="_blank">Start now</a>
		</div>
		<img class="nat-cris-inline-banner-logo--desktop" src="https://s3.us-east-1.amazonaws.com/media_crisalix/natrelle_banner/light/assets/logo-desktop.svg" alt="Natrelle Breast Visualizer logo" />
	</div>
</div>  
 </div>
 
 <!-- Meet Dr. Wijay -->

 <div class="meet-doctor wijay-doc"> 

<div class="nat-cris-inline-banner-cont">

	<div class="nat-cris-inline-banner-col-2">
    <h2>Dr. Andi Wijay</h2>
    <h3>Houston Plastic Surgeon</h3>
		<p class="nat-cris-inline-banner-text">Dr. Wijay is a person centered, compassionate surgeon who understands that plastic surgery can be a positive life-changing experience. Whether it’s a breast reconstruction after cancer, or a cosmetic makeover following pregnancy and childbirth, Dr. Wijay will take the time to understand each person’s situation and tailor his approach to meet the special needs of each patient.</p>
	</div>
	<div class="nat-cris-inline-banner-col-1">
		<img class="nat-cris-inline-banner-img" src="/img/nandi-transparent.png" alt="Dr Andi Wijay Portrait Shot"/>
		
	</div>
  <div class="nat-cris-inline-banner-col-3 doc-cta-2">
		<h2 class="nat-cris-inline-banner-hl">Step Into the <span class="bold uppercase"><br />Future of Breast Augmentation.</span></h2>
		
		<div class="nat-cris-inline-banner-btn-wrap">
			<a class="nat-cris-inline-banner-btn nat-cris-inline-banner-btn--desktop" href="https://natrelle.crisalix.com/users/sign_up/the-oaks-plastic-surgery" target="_blank">Start now</a>
		</div>
		<img class="nat-cris-inline-banner-logo--desktop" src="https://s3.us-east-1.amazonaws.com/media_crisalix/natrelle_banner/light/assets/logo-desktop.svg" alt="Natrelle Breast Visualizer logo" />
	</div>
</div>  
 </div>

 
<!-- PATIENT BENEFITS -->  
<div id="patient-benefits">
<div class="natrelle-heading">

 <h2>Patient Benefits</h2>

</div>
<div class="nat-cris-inline-banner-cont">

	<div class="nat-cris-inline-banner-col-2">
		<ul>
  <li>Personalized Preview of Results</li>
  <li>Increased Confidence and Comfort</li>
  <li>Improved Communication with the Surgeon</li>
  <li>Access from Anywhere, Anytime</li>
  
</ul>

	</div>
	<div class="nat-cris-inline-banner-col-2">
		<ul>
  <li>Empowerment in the Decision-Making Process</li>
  <li>Privacy and Discretion</li>
  <li>Shareable with Partners or Family</li>
</ul>

	</div>


</div> 
  
  
</div>
  
</div>
	  
  
<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<defs>
		<symbol id="icon_cross" viewBox="0 0 22 22">
			<path d="M18.0275 16.6449L11.9288 10.5461L17.8088 4.66613C17.9247 4.54173 17.9878 4.37719 17.9848 4.20717C17.9818 4.03716 17.9129 3.87495 17.7927 3.75471C17.6724 3.63447 17.5102 3.5656 17.3402 3.5626C17.1702 3.5596 17.0057 3.62271 16.8813 3.73863L11.0013 9.61863L5.12125 3.73863C4.99685 3.62271 4.83231 3.5596 4.66229 3.5626C4.49228 3.5656 4.33007 3.63447 4.20983 3.75471C4.0896 3.87495 4.02072 4.03716 4.01772 4.20717C4.01472 4.37719 4.07783 4.54173 4.19375 4.66613L10.0738 10.5461L4.19375 16.4261C4.13237 16.4868 4.08364 16.559 4.05039 16.6386C4.01713 16.7182 4 16.8036 4 16.8899C4 16.9762 4.01713 17.0616 4.05039 17.1412C4.08364 17.2208 4.13237 17.293 4.19375 17.3536C4.3168 17.4765 4.48359 17.5456 4.6575 17.5456C4.83141 17.5456 4.9982 17.4765 5.12125 17.3536L11.0013 11.4736L17.1 17.5724C17.223 17.6953 17.3898 17.7643 17.5638 17.7643C17.7377 17.7643 17.9045 17.6953 18.0275 17.5724C18.0889 17.5117 18.1376 17.4395 18.1709 17.3599C18.2041 17.2803 18.2213 17.1949 18.2213 17.1086C18.2213 17.0224 18.2041 16.9369 18.1709 16.8573C18.1376 16.7777 18.0889 16.7055 18.0275 16.6449V16.6449Z"/>
  	</symbol>
  	<symbol id="icon_plus" viewBox="0 0 22 22">
			<path d="M18.6562 10.7563H11.875V3.9751C11.875 3.80105 11.8059 3.63413 11.6828 3.51106C11.5597 3.38799 11.3928 3.31885 11.2188 3.31885C11.0447 3.31885 10.8778 3.38799 10.7547 3.51106C10.6316 3.63413 10.5625 3.80105 10.5625 3.9751V10.7563H3.78125C3.6072 10.7563 3.44028 10.8255 3.31721 10.9486C3.19414 11.0716 3.125 11.2385 3.125 11.4126C3.125 11.5866 3.19414 11.7536 3.31721 11.8766C3.44028 11.9997 3.6072 12.0688 3.78125 12.0688H10.5625V18.8501C10.5625 19.0241 10.6316 19.1911 10.7547 19.3141C10.8778 19.4372 11.0447 19.5063 11.2188 19.5063C11.3928 19.5063 11.5597 19.4372 11.6828 19.3141C11.8059 19.1911 11.875 19.0241 11.875 18.8501V12.0688H18.6562C18.8303 12.0688 18.9972 11.9997 19.1203 11.8766C19.2434 11.7536 19.3125 11.5866 19.3125 11.4126C19.3125 11.2385 19.2434 11.0716 19.1203 10.9486C18.9972 10.8255 18.8303 10.7563 18.6562 10.7563Z"/>
  	</symbol>
  	<symbol id="icon_minus" viewBox="0 0 22 22">
			<path d="M17.7813 12.0688H4.65627C4.48222 12.0688 4.3153 11.9997 4.19223 11.8766C4.06916 11.7536 4.00002 11.5866 4.00002 11.4126C4.00002 11.2385 4.06916 11.0716 4.19223 10.9486C4.3153 10.8255 4.48222 10.7563 4.65627 10.7563H17.7813C17.9553 10.7563 18.1222 10.8255 18.2453 10.9486C18.3684 11.0716 18.4375 11.2385 18.4375 11.4126C18.4375 11.5866 18.3684 11.7536 18.2453 11.8766C18.1222 11.9997 17.9553 12.0688 17.7813 12.0688Z"/>
	</defs>
</svg>
  </div>


<!-- BOOK YOUR CONSULTATION --> 
<div id="book-natrelle-consult">

<div class="nat-cris-inline-banner-cont">

<!-- -->

            <section class="contact-section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 offset-xl-1 col-xl-4 contact-info wow fadeInUp">
                            <div class="row text-center text-xl-left">

                                
                                <div class="col-12 contact-info-section">
                                                                        <h3></h3>
                                    <p></p>
                                    
                                </div>
                            </div>

                        </div>
                        <div class="offset-xl-1 col-xl-5 contact-form wow fadeInUp" id="ContactForm">
                            <h3>Your Transformation Starts Here. Contact Us Today.</h3>
                            <p>Schedule your consultation with our doctors and enjoy a personalized Natrelle 3D Breast Visualizer experience powered by Crisalix.</p> <p>Fill out the following form and one of our customer consultants will get in touch with you shortly
                                to schedule your appointment or give us a call at <a href="tel:"></a></p>
                            </p>
                            <form method="POST">
                                
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <strong>Success!</strong> We have received your message.
                                    </div>
                                
                                    
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></button>
                                            <strong>Error!</strong> Empty or Invalid reCaptcha
                                        </div>
                                    
                                
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="form[name]"
                                           placeholder="Your name" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" name="form[email]"
                                           placeholder="Your email" />
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" id="phone" name="form[phone]"
                                           placeholder="Your phone number" />
                                </div>
                                <div class="form-group">
                                    <textarea rows="3" class="form-control" id="message" name="form[message]"
                                              placeholder="What breast procedure are you interested in, and do you have a physician preference?"></textarea>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="doctor" name="form[doctor]" size="1">
                                        <option value="" selected>Select A Surgeon or Specialist</option>
                                        <option value="Dr. Danielle Andry, MD">Dr. Danielle Andry, MD</option>
                                        <option value="Dr. Nandi Wijay, MD">Dr. Nandi Wijay, MD</option>
                                        <option value="No Surgeon Preference">No Surgeon Preference</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <a href="#" class="submit-button btn btn-primary">SEND</a>
                                    <p>
                                        <small>By clicking SEND, you agree to our <a href="/policy/hipaa" target="_blank">HIPAA Policy</a></small>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>


<!-- -->

</div>
  </div>
</Base>
