---
// Wedding Packages
// Ported from: packages.php
export const prerender = true;

import Base from "../layouts/Base.astro";
---

<Base
  title="Wedding Packages | The Oaks Plastic Surgery"
  description="Wedding Packages in Houston, TX at The Oaks Plastic Surgery. Board-certified plastic surgeons offering personalized care."
  headerTitle="Wedding Packages"
  headerImage="/img/packages.jpg"
  headerMarginBottom={60}
  canonical="https://theoaksplasticsurgery.com/packages"
>
<section class=" mt-190">
                <div class="container-fluid">
                    
<div class="row" style="max-width: 1300px;margin: auto;">
    <div class="parallax-top col-lg-10 p-1  ml-auto">
        <img class="img-fluid " src="/img/packages/packages1.jpg" alt="" />


</div>
    <div  class="parallax-card packages-card txt col-lg-6 text-lg-left bg-color-light-grey align-items-center">
        <div class="row no-gutters packages-card-border">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-left">
        <div class="package-name">PICK ME UP</div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-right">
            <div class="package-price">$430</div>
            </div>
      </div>
                        <p class="mt-28">
                        Original cost $680, Savings $250
                        </p>
                        <ul class="packages-list mt-28">
                            <li class="packages-list-item">Red Carpet Glow</li>
                            <li class="packages-list-item">40 units of Neurotoxin </li>
                            <li class="packages-list-item">Dermaplane</li>
                        </ul>
                        <div class="mt-58">
                            <a href="/contact-us" class="btn btn-primary btn-main">book now</a>
                        </div>
                       

</div>
                </div>
            </section>
            <section class="mt-116">
                <div class="container-fluid">
                    
<div class="row" style="max-width: 1300px;margin: auto;">
<div class="parallax-top col-lg-10 p-1">
        <img class="img-fluid " src="/img/packages/packages2.jpg" alt="" />


</div>
    <div  class="parallax-card packages-card2 txt col-lg-6  text-lg-left bg-color-light-grey ml-auto">
        <div class="row no-gutters packages-card-border">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-left">
        <div class="package-name">PEEL ME UP</div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-right">
            <div class="package-price">$580</div>
            </div>
      </div>
                        <p class="mt-28">
                        Original cost $830, Savings $250
                        </p>
                        <ul class="packages-list mt-28">
                            <li class="packages-list-item">Red Carpet Glow</li>
                            <li class="packages-list-item">40 units of Neurotoxin</li>
                            <li class="packages-list-item">Vi Peel</li>
                        </ul>
                        <div class="mt-58">
                            <a href="/contact-us" class="btn btn-primary btn-main">book now</a>
                        </div>
                       

</div>

                </div>
            </section>
            <section class="mt-116">
                <div class="container-fluid">
                    
<div class="row" style="max-width: 1300px;margin: auto;">
    <div class="parallax-top col-lg-10 p-1  ml-auto">
        <img class="img-fluid " src="/img/packages/packages3.jpg" alt="" />


</div>
    <div  class="parallax-card packages-card txt col-lg-6 text-lg-left bg-color-light-grey align-items-center">
        <div class="row no-gutters packages-card-border">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12 text-left">
        <div class="package-name">BRIGHTEN ME UP</div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 text-right">
            <div class="package-price">$880</div>
            </div>
      </div>
                        <p class="mt-28">
                        Original cost $1,230, Savings $350
                        </p>
                        <ul class="packages-list mt-28">
                            <li class="packages-list-item">Red Carpet Glow</li>
                            <li class="packages-list-item">40 units of Neurotoxin</li>
                            <li class="packages-list-item">Dermaplane</li>
                            <li class="packages-list-item">Skin Pen with PRP</li>
                        </ul>
                        <div class="mt-58">
                            <a href="/contact-us" class="btn btn-primary btn-main">book now</a>
                        </div>
                       

</div>
                </div>
            </section>
            <section class="mt-116">
                <div class="container-fluid">
                    
<div class="row" style="max-width: 1300px;margin: auto;">
<div class="parallax-top col-lg-10 p-1">
        <img class="img-fluid " src="/img/packages/packages2.jpg" alt="" />


</div>
    <div  class="parallax-card packages-card2 txt col-lg-6  text-lg-left bg-color-light-grey ml-auto">
        <div class="row no-gutters packages-card-border">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-left">
        <div class="package-name">PUCKER UP</div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-right">
            <div class="package-price">$1000</div>
            </div>
      </div>
                        <p class="mt-28">
                        Retail cost $1,380, Savings $380
                        </p>
                        <ul class="packages-list mt-28">
                            <li class="packages-list-item">Red Carpet Glow</li>
                            <li class="packages-list-item">40 units of Neurotoxin</li>
                            <li class="packages-list-item">Dermaplane</li>
                            <li class="packages-list-item">Lip Filler</li>
                        </ul>
                        <div class="mt-58">
                            <a href="/contact-us" class="btn btn-primary btn-main">book now</a>
                        </div>
                       

</div>

                </div>
            </section>     
            <section class="mt-116">
                <div class="container-fluid">
                    
<div class="row" style="max-width: 1300px;margin: auto;">
    <div class="parallax-top col-lg-10 p-1  ml-auto">
        <img class="img-fluid " src="/img/packages/packages3.jpg" alt="" />


</div>
    <div  class="parallax-card packages-card txt col-lg-6 text-lg-left bg-color-light-grey align-items-center">
        <div class="row no-gutters packages-card-border">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-left">
        <div class="package-name">GLOW UP</div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-right">
            <div class="package-price">$1,600</div>
            </div>
      </div>
                        <p class="mt-28">
                        Retail cost $2110, Savings $510
                        </p>
                        <ul class="packages-list mt-28">
                            <li class="packages-list-item">Red Carpet Glow</li>
                            <li class="packages-list-item">40 units of Neurotoxin</li>
                            <li class="packages-list-item">Dermaplane</li>
                            <li class="packages-list-item">Skin pen with PRP</li>
                            <li class="packages-list-item">Lip Filler</li>
                            <li class="packages-list-item">B12 Shot</li>
                            <li class="packages-list-item">60 min full body massage</li>
                        </ul>
                        <div class="mt-58">
                            <a href="/contact-us" class="btn btn-primary btn-main">book now</a>
                        </div>
                       

</div>
                </div>
            </section>
            <section class="pb-240 mt-130">
                <div class="container-fluid">
                    
<div class="row" style="max-width: 1300px;margin: auto;">
    <div class="parallax-top col-lg-12 p-1  ml-auto">
      <h2 class="packeges-info-title">Info for packages</h2>
      <div class="packeges-info-text mt-28">
      <p> Terms: 5 people minimum to book any package Massage is a concierge service. 
      Massage therapist will go to your home at your convenience. Red Carpet Glow and B12 shot can be used the week of the event. 
      Neurotoxin, dermaplane, skin pen and lip filler are recommended to be scheduled at least a month prior to the event date. 
      </p>
     
     
      </div>

</div>

                </div>
            </section>
               <!-- Widgets Added Here -->
               <div class="pt-190">
               
               </div>
            <!-- Widgets End Here -->
</Base>
